<a class="ScrollUp" href="#header" title="Navigate back to the top of the page">
    <span class="icon i-spades" aria-hidden="true"></span><!-- pe .icon-uri trebuie aplicat un iconfont din CSS -->
    <span class="ButtonText">Scroll up</span>
</a>
<ul class="Menu FooterMenu">
    <li class="MenuItem">
        <a class="MenuLink" href="#/about-us/" title="Read more information about us">About NextCasino.com</a>
    </li>
    <li class="MenuItem">
        <a class="MenuLink" href="#/responsible-gaming/" title="Get up to speed with the details of responsible gaming, which we fully endorse">Responsible Gaming</a>
    </li>
    <li class="MenuItem">
        <a class="MenuLink" href="#/terms-and-conditions/" title="Familiarize yourself with the terms and conditions of using our site">Terms &amp; Conditions</a>
    </li>
    <li class="MenuItem">
        <a class="MenuLink" href="#/contact/" title="Get in touch with the team of NextCasino now!">Contact us</a>
    </li>
    <li class="MenuItem">
        <a class="MenuLink" href="#/affiliates/" title="If you are or you'd like to be an affiliate, visit our affiliates homepage">Affiliates</a>
    </li>
    <li class="MenuItem PartnersItem">
        <span class="ButtonText">Partners</span>
    </li>
</ul>
<div class="LegalInfo">

    <div class="LegalContent">
        <p class="LegalP">The website is operated and managed by <strong>OddsMatrix Ltd</strong>, a company bearing registration number C44411, and having its registered address at Suite 4, Num. 62/63 Morina Court, George Borg Olivier Street, St. Julians, STJ 1081, Malta. OddsMatrix Ltd. is licensed and regulated by the Lotteries and Gaming Authority of Malta (www.lga.org.mt) in virtue of a Class 1 license numbered LGA/CL1/497/2010.</p>
        <p class="LegalP">The Casino games, Quickfire, are provided by EveryMatrix N.V. a limited liability company incorporated under the laws of Curacao, bearing company registration number 108354 and having its registered address at Dr. Hugenholtzweg Z/N, Curacao and is licensed and regulated in virtue of license number No. 8048/JAZ granted by the Government of Curacao.</p>
        <p class="CopyP">Copyright © 2013–2014 <a href="/">NextCasino.com</a>, all rights reserved.</p>
    </div>
</div>